.Our-services {
  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 7.5rem;
    grid-row-gap: 6.4rem;
    margin-bottom: 10rem;
  }

  &__text {
    font-weight: 800;
    font-size: 1.26rem;
    line-height: 2.6rem;
    letter-spacing: .6rem;
    text-transform: uppercase;
    color: #F61067;
    margin-bottom: 1.8rem;
  }

  &__title {
    font-weight: 500;
    font-size: 4.5rem;
    line-height: 6.7rem;
    color: #30233D;
    margin-bottom: 6rem;
  }

  &__colum {
    display: flex;
  }
  &__box{
    position: relative;
  }

  &__cite {
    font-family: 'Noticia Text', serif;
    font-style: italic;
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 4rem;
    padding: 9rem 30rem 9rem 9.8rem;
    max-width: 121.3rem;
    background: #5E239D;
    align-items: center;
    color: #FCFCFC;

  }
  &__img{
    position: absolute;
    top: -10.5rem;
    right: -5rem;
    max-width: 100%;
    display: block;
  }
}

.cite__text {
  font-size: 1.8rem;
  line-height: 2.9rem;
  padding: 2rem 30rem 9rem 9.8rem;
  transform: translateY(45px);
  display: inline-block;

  span {
    color: #F61067;
    font-weight: 800;
  }
}

.content {
  max-width: 31.8rem;

  &__img {
    margin-bottom: 1.8rem;
  }

  &__title {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #30233D;
    margin-bottom: 0.9rem;
  }

  &__text {
    font-weight: 400;
    font-size: 1.62rem;
    line-height: 2.6rem;
    color: #776C82;
  }
}

//-------------Adaptive----------------------------


@media (max-width: 1133px) {
  .Our-services {
    &__img {
      max-width: 35rem;
      right: 0;
      top: -1.2rem;
    }
  }
}
@media (max-width: 1121px) {
  .Our-services{
    &__img{
      max-width: 35rem;
      right: 0;
      top: -1.2rem;
    }
  }
}
@media (max-width: 992px) {
  .Our-services {
    &__img {
      max-width: 35rem;
      right: 0;
      top: -5.2rem;
    }
  }
}
@media (max-width: 906px) {
  .Our-services {
    &__img {
      max-width: 35rem;
      right: 0;
      top: -1.2rem;
    }
  }
}
@media (max-width: 768px) {
  .Our-services {
    &__img {
      max-width: 35rem;
      right: 0;
      top: -5.2rem;
    }
  }
}
@media (max-width: 726px) {
  .Our-services {
    &__img {
      max-width: 35rem;
      right: 0;
      top: -1.2rem;
    }
  }
}
@media (max-width: 576px) {
  .Our-services {
    &__img {
      max-width: 35rem;
      right: 0;
      top: -5.2rem;
    }
  }
}
@media (max-width: 544px) {
  .Our-services {
    &__img {
      max-width: 35rem;
      right: 0;
      top: -1.2rem;
    }
  }
}
@media (max-width: 434px) {
  .Our-services {
    &__img {
      max-width: 35rem;
      right: 0;
      top: 2.8rem;
    }
  }
}
@media (max-width: 420px) {
  .Our-services {
      &__row{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 7.5rem;
        grid-row-gap: 6.4rem;
        margin-bottom: 10rem;
        text-align: center;
      }
      &__text{
        text-align: center;
      }
      &__title{
        text-align: center;
      }
      &__img {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
      &__cite{
        padding: 9rem 9rem 9rem 9.8rem;
      }
    }
    .cite__text{
      padding: 2rem 23rem 15rem 22.8rem;
      display: block;
      text-align: center;
    }
  }
