.profile {
  text-align: center;

  &__inner {
    margin-top: -15rem;
  }

  &__image {
    margin-bottom: 11.6rem;
    position: relative;
  }

  &__img2{
    position: absolute;
    bottom: -4rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    display: block;
  }

  &__text {
    font-family: 'Noticia Text';
    font-style: italic;
    max-width: 75.4rem;
    font-weight: 400;
    font-size: 3.6rem;
    line-height: 6.4rem;
    color: #30233D;
    margin-bottom: 3rem;
  }

  &__name {
    font-weight: 800;
    font-size: 18px;
    line-height: 29px;
    color: #30233D;
    font-weight: 400;
    margin-bottom: 13.6rem;

    span {
      font-weight: 800;
      color: #F61067;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
  }

  &__ellipse1 {
    position: absolute;
    left: 2rem;
    top: 22rem;
    transition: all .3s;

    &:hover {
      transform: scale(2, 2);
    }
  }

  &__ellipse2 {
    position: absolute;
    left: 15rem;
    top: 3rem;
    transition: all .3s;

    &:hover {
      transform: scale(2, 2);
    }
  }

  &__ellipse3 {
    position: absolute;
    left: 35rem;
    top: 15rem;
    transition: all .3s;

    &:hover {
      transform: scale(2, 2);
    }
  }

  &__ellipse4 {
    position: absolute;
    right: 32rem;
    top: 18rem;
    transition: all .3s;

    &:hover {
      transform: scale(2, 2);
    }
  }

  &__ellipse5 {
    position: absolute;
    top: 11rem;
    right: 18rem;
    transition: all .3s;

    &:hover {
      transform: scale(2, 2);
    }
  }

  &__ellipse6 {
    position: absolute;
    top: 0rem;
    right: 0rem;
    transition: all .3s;

    &:hover {
      transform: scale(2, 2);
    }
  }

  &__ellipse7 {
    position: absolute;
    right: 0rem;
    top: 22rem;
    transition: all .3s;

    &:hover {
      transform: scale(2, 2);
    }
  }

  &__btn {
    color: #150433;
    bottom: 0;
    padding: 2rem 2rem;
    align-items: center;
    background-color: #150433;
    border-radius: 50%;
    background-color: #FCFCFC;
    border: 1px solid #F61067;
    transform: translateY(13rem);
    cursor: pointer;
    transition: all .2s;

    svg path {
      transition: all .2s;
    }

    &:hover svg path {
      fill: #fff;
    }

    &:hover {
      background-color: #F61067;
    }
  }
}




@media (max-width: 1260px){
  .profile{
    &__ellipse1{
      display: none;
    }
    &__ellipse2{
      display: none;
    }
    &__ellipse3{
      display: none;
    }
    &__ellipse4{
      display: none;
    }
    &__ellipse5{
      display: none;
    }
    &__ellipse6{
      display: none;
    }
    &__ellipse7{
      display: none;
    }
  }
}

@media (max-width: 992px){
  .profile{
    &__img{
      max-width: 50%;
    }
    &__img2{
      max-width: 12rem;
    }
  }
}
@media (max-width: 769px){
  .profile{
    &__imge{
      &::before{
        width: 14.25;
        height: 13rem;
      }
    }
    &__text{
      margin-bottom: 20rem;
    }
  }
}
@media (max-width: 577px) {
  .profile{
    &__text{
      max-width: none;
      margin-bottom: 40rem;
    }
    &__btn{
      padding: 4rem 4rem;
      margin-top: 5rem;
    }
    &__btn_After{
      transform: translateX(12rem);
    }
    &__btn_Before{
      transform: translateX(-12rem);
    }
  }
}
@media (max-width: 460px) {
  .profile{
    &__img2{
      max-width: 8rem;
    }
  }
}