*, 
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'M PLUS 1p', sans-serif;
}

._container {
  max-width: 154rem;
  padding: 0rem 3rem;
  margin: 0 auto;
}
